@use "../variables";

.card {
  &--home,
  &--project {
    // aspect-ratio: 3 / 4;
    a:hover {
      color: rgba(var(--color-accent-rgb), 1);
    }
    color: var(--color-bg);
    .perspective {
      perspective: 600px;
      display: block;
    }
    &.is-active {
      .card--project__inner {
        transform: rotateY(var(--flip-deg, 180deg));
      }
    }
    &__inner {
      position: relative;
      transition: transform 0.45s ease-in-out;
      transform-style: preserve-3d;
      position: relative;
    }
    .recto,
    .verso {
      aspect-ratio: 238 / 317 !important;
    }
    .recto {
      backface-visibility: hidden;
      height: 100%;
    }
    .verso {
      transform: rotateY(180deg);
      backface-visibility: hidden;
      position: absolute;
      inset: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: calc(var(--spacing-sm) * 0.9) var(--spacing-sm);
      .header,
      .footer {
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-lg);
        line-height: 1;
      }
      .header {
        align-items: flex-start;
      }
      .footer {
        align-items: flex-end;
      }
      .body {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        line-height: 1;
      }
    }
    figure {
      height: 100%;
      &.is-landscape img {
        // aspect-ratio: 317 / 238 !important;
        object-fit: contain;
        object-position: top;
        height: auto !important;
        aspect-ratio: unset !important;
      }

      img {
        aspect-ratio: 238 / 317 !important;
        height: 100% !important;
        object-fit: cover;
        position: sticky;
        top: var(--header-h);
      }
    }
    @media screen and (max-width: variables.$md) {
      .verso {
        padding: calc(var(--spacing-xs) * 0.5) var(--spacing-xs);
        .body {
          width: calc(100% - var(--spacing-lg));
        }
      }
    }
  }
  &--project--text {
    border-bottom: var(--border);
    a {
      padding: 0.8462em 0;
      display: block;
    }
    // &:hover {
    //   background-color: var(--color-accent);
    //   a {
    //     color: var(--color-bg);
    //   }
    // }
  }
}
