@use "../variables";
@use "../mixins";

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: var(--spacing-md);
  z-index: 50;

  font-size: var(--text-lg);
  color: var(--color-accent);
  // @include mixins.debugFiletY(var(--spacing-md));
  svg path {
    fill: var(--color-accent);
  }
  .site-name:hover a {
    opacity: 1 !important;
  }
  .rita-logo {
    transform-origin: top left;
    max-width: 100%;
    svg {
      width: 100%;
      // path {
      //   fill: var(--color-accent);
      // }
    }
  }
  nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a,
    button {
      line-height: 1;
      display: inline-block;
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .spacer,
      ul.menu {
        width: var(--gridder-1_5);
      }
    }
    ul.locales-switcher li {
      transform: translateY(-0.27em);
    }
    ul.menu li {
      transform: translateY(0.27em);
    }
    ul.menu {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-gutter);
      li:first-child {
        transform: translate(-0.05em, 0.27em);
      }
      // .locales-switcher {
      //   grid-column: span 2 / span 2;
      //   display: flex;
      //   li {
      //     width: 50%;
      //   }
      // }
    }
  }
  @media all and (max-width: variables.$md) {
    padding: var(--spacing-xs);
    font-size: var(--text-lg--sm);
    nav {
      height: 100%;
      // background-color: red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bottom {
        justify-content: flex-end;
        ul.menu {
          width: unset;
          li {
            transform: translateY(0.28em);
          }
        }
      }
    }
  }
}

body:not(.is-home) header {
  background-color: white;
}
body.is-home header {
  // position: fixed;
  // & + main {
  //   padding-top: var(--header-h);
  // }
  color: var(--color-white);
  svg path {
    fill: var(--color-white);
  }
  a:hover,
  button:hover {
    color: var(--color-white);
    opacity: 0.5;
  }

  .description,
  nav {
    transition:
      transform 0.6s var(--cubic),
      opacity 0.6s var(--cubic);
  }
  .description {
    position: absolute;
  }
  nav {
    transform: translateY(1rem);
    opacity: 0;
  }
  &.scroll-up {
    .description {
      transform: translateY(-1rem);
      opacity: 0;
    }
    nav {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.scroll-,
  &.scroll-down {
    padding-bottom: calc(var(--spacing-md) * 0.8);
  }
}

body:not(.is-home) header {
  .rita-logo {
    transition: width 0.2s var(--cubic);
    max-width: var(--gridder-1_5);
    @media all and (max-width: variables.$md) {
      max-width: var(--gridder-5_10);
    }
  }
}
