@use "../variables";

.slider {
  gap: var(--spacing-gutter);
  .keen-slider-container {
  }
  .keen-slider__slide {
    width: auto !important;
    flex-shrink: 0;
  }
  img {
    height: 60vh !important;
    width: auto !important;
  }
  .caption {
    padding: 0.5em 0;
  }

  @media all and (max-width: variables.$md) {
    img {
      height: auto !important;
      width: 100% !important;
      max-height: 70vh;
    }
  }
}
