@use "../variables";

.slider {
  gap: var(--spacing-gutter);
  .keen-slider-container {
  }
  .ss-slider__slide,
  .keen-slider__slide {
    width: auto !important;
    flex-shrink: 0;
  }
  img,
  svg {
    height: 60vh !important;
    width: auto !important;
  }
  figcaption,
  .caption {
    padding: 0.5em 0;
  }

  svg {
    mix-blend-mode: difference;
    max-width: 100%;
    aspect-ratio: 238 / 317 !important;
    // height: 100% !important;
    --shape: var(--color-accent);
    --line: var(--color-accent);
    --text: #08f372;

    path[fill="none"],
    line,
    polyline {
      stroke: var(--line) !important;
    }
    path {
      stroke: var(--line) !important;
    }

    path:not([fill="none"]),
    rect,
    circle,
    ellipse,
    polygon {
      fill: var(--shape) !important;
    }

    text {
      fill: var(--text) !important;
    }

    rect {
      display: none;
    }
  }

  @media all and (max-width: variables.$md) {
    img {
      height: auto !important;
      width: 100% !important;
      max-height: 70vh;
    }
  }
}
