@use "@/app/styles/variables";

.keen-slider-container {
  position: relative;
  .keen-slider {
    &__controls {
      display: flex;
      justify-content: center;
      gap: 1rem;
      // margin-top: 1rem;
      position: absolute;
      inset: 0;
      .control {
        width: 50%;
        &.next {
          cursor: e-resize;
        }
        &.prev {
          cursor: w-resize;
        }
      }
    }
  }

  @media all and (max-width: variables.$md) {
    max-width: calc(100dvw - calc(var(--spacing-xs) * 2));
    img {
      max-width: calc(100dvw - calc(var(--spacing-xs) * 2));
      height: auto !important;
      object-fit: contain;
      object-position: top;
    }
    figcaption {
      padding: 0.5em 0;
    }
  }
}
