@use "../variables";

.template--home {
  .content--home {
    // perspective: 1000px;
    .modal {
      background-color: var(--color-primary) !important;
      color: var(--color-bg) !important;
      svg path {
        fill: var(--color-bg) !important;
      }
      .news-item {
        text-align: center;
        padding: 1rem;
        .text {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media all and (max-width: variables.$sm) {
  .template--home {
    .content--home {
      .modal {
        position: relative;
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: var(--spacing-xs);
        &:not(.modal--open) {
          display: none;
        }
      }
    }
  }
}
