@use "../variables";
html:has(.template--home) {
  // scroll-snap-type: y mandatory;
  // &,
  // body {
  //   scroll-padding-top: var(--header-h);
  // }
  // .card--home {
  //   scroll-snap-align: start;
  // }
}
.template--home {
  .content--home {
    // perspective: 1000px;
    .grid {
      row-gap: var(--header-h);
      row-gap: 100px;
      // max-width: var(--gridder-4_5);
    }
    .modal {
      background-color: var(--color-primary) !important;
      color: var(--color-bg) !important;
      .modal__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing-xs);
      }
      svg path {
        fill: var(--color-bg) !important;
      }
      .news-item {
        text-align: center;
        padding: 1rem;
        .text {
          margin-bottom: 1em;
        }
      }
    }
  }
}

@media all and (max-width: variables.$sm) {
  .template--home {
    .content--home {
      .modal {
        position: relative;
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: var(--spacing-xs);
        &:not(.modal--open) {
          display: none;
        }
      }
    }
  }
}
