@use "../variables";

.template--projects {
  .content--projects {
    .header {
      padding: 0.5em 0;
      border-top: var(--border);
      border-bottom: var(--border);
    }
  }

  @media all and (max-width: variables.$md) {
  }
}
