@use "../variables";

.template--projects {
  .content--projects {
    .thead {
      // padding: 0.8462em 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--color-bg);
      z-index: 99;
    }
    .thead .tr,
    .tbody .tr a {
      padding: 0.8462em 0;
    }
    .tbody {
      .card--project--text {
        border-bottom: var(--border);
      }
    }
    .thead,
    figure {
      position: sticky;
      top: var(--header-h);
    }

    @media all and (max-width: variables.$md) {
      .thead .tr,
      .tbody .tr a {
        padding: 0.5462em 0;
      }
    }
  }
}
