@use "@/app/styles/variables";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  will-change: transform;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--color-accent);
  color: var(--color-bg);
  width: 376px;
  height: 501px;
  aspect-ratio: 376 / 501;
  height: 60vh;
  width: auto;

  max-width: 100%;
  // max-width: 376px;
  z-index: 99;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (max-width: variables.$md) {
  .modal {
    left: var(--spacing-xs);
    right: var(--spacing-xs);
    inset: var(--spacing-xs);
    top: var(--header-h);
    width: auto;
    aspect-ratio: 376 / 501;
    height: 100%;
    width: 100%;
    width: auto;
    height: auto;

    transform: none !important;
  }
}
.modal__open {
  visibility: visible;
  pointer-events: all;
}
.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-xs);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.handle {
  cursor: grab;
  touch-action: none;
  flex: 2;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.modal__close {
  // cursor: grab;
  touch-action: none;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  pointer-events: all;
}
.modal__close[data-dragging] {
  cursor: grabbing;
}
.modal__close svg {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.modal__close svg path {
  fill: white;
}
.modal__close__big {
  /* bottom: var(--spacing-md); */
  /* right: 50%;
  transform: translateX(50%); */
  justify-content: center;
}
.modal__close__big svg {
  width: 2rem;
  height: 2rem;
}
.modal__body {
  padding: var(--spacing-xs);
  padding: calc(var(--spacing-xs) * 0.5) var(--spacing-xs);
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 2rem;
  z-index: 1;
  position: relative;
  // height: 100%;
}
